/* Styles header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 800px;
}

header {
  height: 169px;
  overflow: hidden;
}
header .content_header {
  display: grid;
  grid-template-columns: 58px 1fr 58px;
  grid-template-rows: 170px;
}
header .content_header .car {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content_header .car .fa-cart-shopping {
  font-size: 48px;
  color: pink;
  cursor: pointer;
}
header .content_header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content_header .menu .fa-bars {
  font-size: 48px;
  color: pink;
  cursor: pointer;
}
header .content_header .logo #logo_header {
  width: 80%;
  height: 100%;
}
header .buscador_header {
  border: 1px solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 40px;
}
header .buscador_header #buscador {
  border: none;
  width: 100%;
  height: 43px;
  border-radius: 20px 0 0 20px;
}
header .buscador_header .fa-magnifying-glass {
  font-size: 25px;
  text-align: right;
  margin: 10px;
  cursor: pointer;
}
header nav {
  margin-top: 10px;
  height: 280px;
}
header nav li {
  width: 90%;
  height: 44px;
  background: linear-gradient(rgba(242, 132, 124, 0.5058823529), #F9DEDC);
  border-radius: 10px;
  transition: all 0.3s;
}
header nav li:hover {
  scale: 1.1;
}
header nav li a {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 24px;
}

.ingreso_registro {
  height: 50px;
  text-align: center;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin: auto;
}
.ingreso_registro .ingreso,
.ingreso_registro .registro {
  border: 1px solid;
  width: 170px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}
.ingreso_registro .ingreso {
  background-color: pink;
}

body main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 290px;
  height: 355px;
  margin: auto 10px;
  border-radius: 40px;
  background-image: url("../media/img/IMG-20240603-WA0098-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body main .hero .text_hero {
  font-size: 32px;
  height: 180px;
  width: 90%;
  margin: auto;
}
body main .hero .text_hero p {
  padding: 5px;
  text-align: center;
}
body main .hero .btn_hero {
  margin-bottom: 20px;
}
body main .hero .btn_hero #btn_hero {
  background-color: #F9DEDC;
  width: 200px;
  height: 45px;
  border-radius: 40px;
  cursor: pointer;
}
body main .destacados .content_productos {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  padding: 6px;
}
body main .destacados .content_productos .producto {
  overflow: hidden;
  max-width: 170px;
  height: 185px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3803921569);
  transition: all 0.5s;
  margin: auto;
}
body main .destacados .content_productos .producto:hover {
  scale: 1.04;
}
body main .destacados .content_productos .producto .img_producto {
  width: 100%;
  height: 128px;
}
body main .destacados .content_productos .producto .img_producto img {
  width: 100%;
  height: 100%;
}
body main .destacados .content_productos .producto .info_producto {
  padding: 2px;
}
body main .destacados .content_productos .producto .info_producto .nombre {
  color: pink;
}
body main .destacados .content_productos .producto .info_producto .precio {
  color: red;
}
body main .eventos_especiales {
  margin: 10px 0;
}
body main .eventos_especiales .content_evento {
  width: 300px;
  height: 280px;
  border-radius: 20px;
  margin: auto;
  overflow: hidden;
  background-color: #F9DEDC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .eventos_especiales .content_evento .img_evento {
  height: 67%;
}
body main .eventos_especiales .content_evento .img_evento img {
  width: 100%;
  height: 100%;
}
body main .eventos_especiales .content_evento .content_arrow_info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body main .eventos_especiales .content_evento .content_arrow_info .fa-arrow-left, body main .eventos_especiales .content_evento .content_arrow_info .fa-arrow-right {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
body main .eventos_especiales .content_evento .content_arrow_info .fa-arrow-left:hover, body main .eventos_especiales .content_evento .content_arrow_info .fa-arrow-right:hover {
  scale: 1.2;
}
body main .eventos_especiales .content_evento .content_arrow_info .info_evento .nombre_evento {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
body main .eventos_especiales .content_evento .content_arrow_info .info_evento .btn_consultar_evento {
  width: 195px;
  height: 30px;
  border-radius: 40px;
  border: none;
  color: white;
  background-color: #EB7777;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.448);
  cursor: pointer;
}
body main .galeria_img .galeria {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
}
body main .galeria_img .galeria img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px;
  margin: auto;
}
body footer {
  background-color: #eee;
  padding: 10px;
}
body footer .title_footer {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.toogle_header {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center_colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes_sociales {
  height: 60px;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.redes_sociales .fa-facebook,
.redes_sociales .fa-instagram,
.redes_sociales .fa-whatsapp {
  font-size: 40px;
  transition: all 0.1s;
}
.redes_sociales .fa-facebook:hover,
.redes_sociales .fa-instagram:hover,
.redes_sociales .fa-whatsapp:hover {
  scale: 1.1;
}
.redes_sociales .fa-facebook {
  color: blue;
}
.redes_sociales .fa-instagram {
  color: rgb(203, 23, 53);
}
.redes_sociales .fa-whatsapp {
  color: green;
}

.list_nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
}

.title_section {
  background: linear-gradient(rgba(242, 132, 124, 0.5058823529), #F9DEDC);
  width: 95%;
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
