@media only screen and (min-width: 730px) {
    html {
        header {
            height: 230px;

            .content_header {
                display: flex;
                justify-content: center;

                .car {
                    position: absolute;
                    left: 45px;
                    top: 70px;
                    i{
                        width: 100%;
                        height: 100%;
                    }
                }

                .logo {
                    #logo_header {
                        width: 280px;
                        height: 200px;
                    }
                }

                .menu {
                    display: none;
                }
            }

            .buscador_header {
                position: relative;
                top: 85px;
                width: 700px;


            }

            nav {
                position: relative;
                height: auto;
                bottom: 25px;

                ul {
                    li {
                        width: auto;
                        padding: 10px;
                    }
                }
            }

            .ingreso_registro {
                position: relative;
                bottom: 140px;
                right: 33px;
                justify-content: end;

                .ingreso,
                .registro,
                .cerrar {
                    width: auto;
                    height: 30px;
                    font-size: 22px;
                }

                .cerrar {
                    width: 155px;
                }
            }

            .redes_sociales {
                background-color: transparent;
                position: fixed;
                bottom: 30px;
                right: 0;
                max-width: none;
                width: auto;
                height: auto;
                border-radius: 20px;
                flex-direction: column;
                gap: 5px;
                z-index: 1;
                &:hover{
                }

                .fa-facebook,
                .fa-instagram,
                .fa-whatsapp {
                    font-size: 30px;
                    &:hover{
                        scale: 1.3;
                    }
                }
            }
        }

        body {
            main {
                .container_usuario {
                    width: 100px;
                    height: 50px;
                    position: absolute;
                    top: 28px;
                    right: 40px;
                }

                .hero {
                    max-width: none;

                    .text_hero{
                        font-size: 45px;
                    }

                    .btn_hero{

                        #btn_hero{
                            padding: 10px 20px;
                            font-size: 22px;
                        }
                    }
                }

                .eventos_especiales{
                    .content_evento{
                        .descrip_evento{
                            height: 280px;
                            padding: 40px 0;
                        }
                    }
                }
            }
        }
    }


    .list_nav {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 15px;

    }


}