/* Styles header */
header {
    width: 100%;

    // height: 160px;
    .content_header {
        // border: 1px solid;
        display: grid;
        grid-template-columns: 48px 1fr 48px;
        // importante para el boton menu
        grid-template-rows: 170px;

        .car {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .fa-cart-shopping {
                font-size: 48px;
                color: pink;
            }
        }
        
        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .fa-bars {
                font-size: 48px;
                color: pink;
            }
        }
        .logo{
            #logo_header {
                width: 80%;
                height: 100%;
                // border: 1px solid;
            }

        }
    }

    #buscador {
        width: 95%;
        height: 43px;
        margin:auto auto auto auto;
        border-radius: 20px;

    }


}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}